*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 10vh;
}
.navDiv{
    height:20vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: black;
    margin: 20px;
}
.logo{
    margin: 35px;
    color: white;
    font-size: 50px;
    font-family: sans-serif;
    margin-right: 30px;
}
ul{
    display: inline-flex;
    gap:30px;
}
li{
    color: aliceblue;
    list-style: none;
    padding-top: 50px;
    font-size:20px;
}
ul button{
    display:inline-flex;
    background-color: red;
    margin-top: 50px;
    padding: 5px 20px;
    border-radius:7px;
    font-weight: bold;
    text-decoration: none;
    color: aqua;
    margin-right:10px;

}
a{
   text-decoration: none;
   color:white; 
}